/* Nav bar */
.logo {
    height: 40px;
    width: 40px;
}


/* Side bar */
.nav-side {
    height: auto !important;
}

/* Home page */
.home-image {
    background-image: url('../../imgs/home_banner.png') !important;
    background-size: cover;
}


/* Sign In page */
.signin-image {
    background-image: url('../../imgs/sign_in.jpg') !important;
    background-size: cover;
}


/* Sign Up page */
.signup-image {
    background-image: url('../../imgs/sign_up.jpg') !important;
    background-size: cover;
}


/* Mobile */
@media only screen and (max-width: 768px) {
    .mobile-hidden {
        display: none !important;
    }
}

/* Accommodations Type create */
.image-option {
    padding: 5px;
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s;
}

.image-option.selected {
    border-color: orange;
}

.image-option img {
    cursor: pointer;
    border-radius: 8px;
    width: 100px !important;
    height: 80px !important;
    cursor: pointer;
}




