/* Nav bar */
.logo {
    height: 40px;
    width: 40px;
}


/* Side bar */
.nav-side {
    height: auto !important;
}


/* Sign In page */
.signin-image {
    background-image: url('../../imgs/sign_in.jpg') !important;
    background-size: cover;
}


/* Sign Up page */
.signup-image {
    background-image: url('../../imgs/sign_up.jpg') !important;
    background-size: cover;
}


/* Mobile */
@media only screen and (max-width: 768px) {
    .mobile-hidden {
        display: none !important;
    }
}

